﻿@model eBibliotheque.Models.Book

@{
    ViewBag.Title = "Confirmation de suppression";
}

<h3>Êtes vous sûr de vouloir supprimer le livre "@Model.Title" ?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Model.Author.FullName
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </div>
    }
</div>
