﻿@model eBibliotheque.Models.Book

@{
    ViewBag.Title = Model.Title;
}

<h2>Détails du livre "@Model.Title"</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.ActionLink(Model.Author.FullName, "Details", "Authors", new {id=Model.AuthorId}, null)
        </dd>
    </dl>
    @if (Model.Borrowings.Count > 0)
    {
        <h4>@Html.DisplayNameFor(model => model.Borrowings)</h4>
        <ul class="list-group">
            @foreach (var borrowing in Model.Borrowings)
            {
                <li class="list-group-item">
                    @Html.ActionLink(borrowing.MemberAndDates, "Details", "Borrowings", new { id = borrowing.BookId }, null)
                </li>
            }
        </ul>
    }
</div>
<p>
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Modifier", "Edit", new { id = Model.BookId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.BookId }, new { @class = "btn btn-danger" })
</p>
