﻿@model IEnumerable<eBibliotheque.Models.Book>

@{
    ViewBag.Title = "Tous les livres";
}

<h2>Tous les livres</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.BookId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink(item.Author.FullName, "Details", "Authors", new { id = item.AuthorId}, null)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new {id = item.BookId}, new { @class = "btn btn-warning" })
            @Html.ActionLink("Supprimer", "Delete", new {id = item.BookId}, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@Html.ActionLink("+", "Create", null, new { @class = "add-button-circle", title = "Ajouter un livre" })