﻿@model eBibliotheque.Models.Member

@{
    ViewBag.Title = "Confirmation de suppression";
}
<h3>Êtes vous sûr de vouloir supprimer le membre "@Model.FullName" ?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Supprimer" class="btn btn-danger"/>
        </div>
    }
</div>
