﻿@model eBibliotheque.Models.Member

@{
    ViewBag.Title = "Détails du membre " + Model.FullName;
}

<h2>Détails du membre @Model.FullName</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>

        </dt>
    </dl>
    @if (Model.Borrowings.Count > 0)
    {
        <h4>
            @Html.DisplayNameFor(model => model.Borrowings)
        </h4>
        <ul class="list-group">
            @foreach (var borrowing in Model.Borrowings.OrderBy(b => b.BeginningDate))
            {
                <li class="list-group-item">@Html.ActionLink(borrowing.ToString(), "Details", "Borrowings", new { id = borrowing.BorrowingId }, null)</li>
            }
        </ul>
    }
</div>
<p>
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Modifier", "Edit", new { id = Model.PersonId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.PersonId }, new { @class = "btn btn-danger" })
</p>
