﻿@model IEnumerable<eBibliotheque.Models.Member>

@{
    ViewBag.Title = "Tous les membres";
}

<h2>Tous les membres</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrowings)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <ul>
            @foreach (var borrowing in item.Borrowings.OrderByDescending(b => b.BeginningDate))
            {
                <li>@Html.ActionLink(borrowing.ToString(), "Details", "Borrowings", new {id=borrowing.BorrowingId}, null)</li>
            }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Voir", "Details", new { id = item.PersonId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Modifier", "Edit", new {id = item.PersonId}, new { @class = "btn btn-warning" })
            @Html.ActionLink("Supprimer", "Delete", new {id = item.PersonId}, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@Html.ActionLink("+", "Create", null, new {@class="add-button-circle", title="Ajouter un membre" })