﻿@model eBibliotheque.Models.ViewModels.TopFiveAllResourcesViewModel
@{
    ViewBag.Title = "Accueil";
}

<h2 class="text-center">e-Bibliothèque, l'outil de gestion de bibliothèque du 21ème siècle !</h2>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.ActionLink("Gérer les livres", "Index", "Books")</div>
            <div class="panel-body">
                <ul>
                @foreach (var book in Model.Books)
                {
                    <li>
                        @Html.ActionLink(book.TitleAndAuthor, "Details", "Books", new { id = book.BookId }, null)
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.ActionLink("Gérer les auteurs", "Index", "Authors")</div>
            <div class="panel-body">
                <ul>
                    @foreach (var author in Model.Authors)
                    {
                        <li>
                            @Html.ActionLink(author.FullName, "Details", "Authors", new { id = author.PersonId }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.ActionLink("Gérer les membres", "Index", "Members")</div>
            <div class="panel-body">
                <ul>
                    @foreach (var member in Model.Members)
                    {
                        <li>
                            @Html.ActionLink(member.FullName+"<"+member.Email+">", "Details", "Members", new { id = member.PersonId }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.ActionLink("Gérer les emprunts", "Index", "Borrowings")</div>
            <div class="panel-body">
                <ul>
                    @foreach (var borrowing in Model.Borrowings)
                    {
                        <li>
                            @Html.ActionLink(borrowing.ToString(), "Details", "Borrowings", new { id = borrowing.BorrowingId }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>