﻿@model eBibliotheque.Models.Author

@{
    ViewBag.Title = Model.Firstname + " " + Model.Lastname;
}

<h2>Détails de l'auteur @Model.Firstname @Model.Lastname</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Model.Birthdate.ToString("d")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Death)
        </dt>

        <dd>
            @if (Model.Death != null)
            {
                @Model.Death.Value.ToString("d")
                ;
            }

        </dd>
    </dl>
    <h4>
        @Html.DisplayNameFor(model => model.BooksWritten)
    </h4>
    @if (Model.BooksWritten.Count > 0)
    {
        <ul class="list-group">
            @foreach (var book in Model.BooksWritten)
            {
                <li class="list-group-item">
                    @Html.ActionLink(book.Title, "Details", "Books", new { id = book.BookId }, null)
                </li>
            }
        </ul>
    }
</div>
<p>
    @Html.ActionLink("Retour", "Index", null, new {@class="btn btn-default"})
    @Html.ActionLink("Modifier", "Edit", new { id = Model.PersonId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.PersonId }, new { @class = "btn btn-danger" })
</p>
