﻿@model IEnumerable<eBibliotheque.Models.Author>

@{
    ViewBag.Title = "Tous les auteurs";
}

<h2>Tous les auteurs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Death)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BooksWritten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @item.Birthdate.ToString("dd/MM/yyy")
        </td>
        <td>
            @if (item.Death != null)
            {
                @item.Death.Value.ToString("dd/MM/yyy")
            }
        </td>
        <td>
            <ul>
            @foreach (var book in item.BooksWritten.OrderBy(b => b.Year))
            {
                <li>@Html.ActionLink(book.Title, "Details", "Books", new { id=book.BookId }, null)</li>
            }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Voir", "Details", new { id = item.PersonId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Modifier", "Edit", new {id = item.PersonId}, new { @class = "btn btn-warning" })
            @Html.ActionLink("Supprimer", "Delete", new {id = item.PersonId}, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@Html.ActionLink("+", "Create", null, new { @class = "add-button-circle", title = "Ajouter un auteur" })