﻿@model eBibliotheque.Models.Borrowing

@{
    ViewBag.Title = "Confirmation de suppression";
}

<h3>Êtes vous sûr(e) de vouloir supprimer cet emprunt ?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member)
        </dt>

        <dd>
            @Model.Member.FullName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDatePlanned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDatePlanned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateReal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </div>
    }
</div>
