﻿@model eBibliotheque.Models.Borrowing

@{
    ViewBag.Title = Model.ToString();
}

<h3>@Model.ToString()</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>

        <dd>
            @Html.ActionLink(Model.Book.Title, "Details", "Books", new {id=Model.BookId}, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member)
        </dt>

        <dd>
            @Html.ActionLink(Model.Member.FullName, "Details", "Members", new {id=Model.MemberId}, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDatePlanned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDatePlanned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateReal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Modifier", "Edit", new { id = Model.BorrowingId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.BorrowingId }, new { @class = "btn btn-danger" })
</p>
