﻿@model IEnumerable<eBibliotheque.Models.Borrowing>

@{
    ViewBag.Title = "Tous les emprunts";
}

<h2>Tous les emprunts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDatePlanned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateReal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Member.FullName, "Details", "Members", new {id=item.MemberId}, null)
        </td>
        <td>
            @Html.ActionLink(item.Book.Title, "Details", "Books", new { id = item.BookId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginningDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDatePlanned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateReal)
        </td>
        <td>
            @Html.ActionLink("Voir", "Details", new { id = item.BorrowingId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Modifier", "Edit", new {id = item.BorrowingId}, new {@class = "btn btn-warning"})
            @Html.ActionLink("Supprimer", "Delete", new {id = item.BorrowingId}, new {@class = "btn btn-danger"})
        </td>
    </tr>
}
</table>
@Html.ActionLink("+", "Create", null, new { @class = "add-button-circle", title = "Ajouter un emprunt" })