﻿body{
    padding-top: 70px;
    background: url("../img/background-texture.jpg");
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.navbar-brand, h1,h2,h3,h4 {
    font-family: "Georgia", "Times New Roman", serif;
}

.navbar-default {
    -moz-box-shadow: 0 2px 5px 0 #9b9b9b;
    -webkit-box-shadow: 0 2px 5px 0 #9b9b9b;
    box-shadow: 0 2px 5px 0 #9b9b9b;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=5);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top-color: #BBB;
}

td>ul {
    padding: 0;
}

.add-button-circle:link, .add-button-circle:visited, .add-button-circle:active {
    display: inline-block;
    font-size: 22pt;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    background-color: #F44336;
    position: fixed;
    bottom: 30px;
    right: 50px;
    -moz-box-shadow: 1px 1px 5px 1px #9b9b9b;
    -webkit-box-shadow: 1px 1px 5px 1px #9b9b9b;
    box-shadow: 1px 1px 5px 1px #9b9b9b;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
    -moz-transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.add-button-circle:hover {
    color: white;
    text-decoration: none;
    background-color: #D32F2F;
}

.panel-primary>.panel-heading a {
    color: white !important;
    font-size: 13pt;
}
table ul {
    list-style-type: none;
}
table ul>li {
    margin: 5px;
}
tr>td:last-of-type {
    min-width: 280px;
}